
img.attachment-slider{
    height: 70vh;
    width: 100vw;
}
div.blog-element{
    height: 100px;
}
div.blog-element{
    /* overflow: hidden; */
    height: 200px;
    background-size: cover;
    background-position: center center;
}
div.blog-item{
    padding:0;

}
div.scale{
    height: 300px;
    width: 50vw;
}
.navbar{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    /* height: 100px; */
}
.card{
    border:none;
}

.nav-link{
    color: white !important;
}
.nav-item:active{
    color: red !important;
}
@media (max-width: 767px) {
    .navbar-collapse {
      background: snow;
      
    }
    .navbar-collapse li a{
        
        border-top: 1px solid;
        color: rgb(128, 123, 123) !important;

    }
  }

