div.blog-element {
    height: 100px;
}

div.blog-element {
    height: 200px;
    background-size: cover;
    background-position: center center;
}

div.blog-item {
    padding: 0;

}

div.scale {
    height: 300px;
    width: 50vw;
}