
.card-item {
    
    padding-top: 25px;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-item:hover {
    /* border: 1px solid black; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);

}


