a.card-anchor{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.card-item {
    position: relative;
    padding-top: 25px;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-item:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
}
.img-card-container{
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgb(254, 254, 254);

}
.card-item .attachment-card-img {
    width: 40px;
    height: 40px;
}
.card-item:hover > .img-card-container{
    border-radius: 50%;
    box-shadow: 0 0 0 25px white, 0 0 0 27px #ec5598;
}
.card-text{
    color: #666;
    line-height: 24px;
}