div.carousel-item.slider {
    height: 75vh;
    width: 100%;
    background-position: center center;
    background-size: cover;

    
}

.slider-title {
    // text-align: left;
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

.slider-text {
    color: white;
    text-align: left;
    font-size: 1.1rem;
    width: 50%;

}
.slider-btn{
    border-style: none;
    background: #ec5598;
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
// .carousel-control-prev-icon{
//     width: 100px;
//     height: 100px;
// }