div.carousel-item.slider {
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;


}


.slider-title {
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

.slider-text {
    color: white;
    text-align: left;
    font-size: 1.1rem;
    width: 50%;

}

.slider-btn {
    border-style: none;
    background: #ec5598;
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

@media (min-width: 767px) and (max-width:900px) and (orientation:landscape) {
    .slider-text {
        display: none;
    }

    .slider-title {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 766px) {

    div.carousel-item.slider {
        height: 65vh;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.534);
        }
        &:nth-child(1) {
            background-size: 250%;
            background-position: 30% center;
    
        }
        &:nth-child(2) {
            background-size: 300%;
            background-position: 75% center;
    
        }
    }

}
