img.attachment-slider {
    height: 70vh;
    width: 100vw;
}

.slider-title{
    text-align: left;
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
.slider-text{
    color: white;
    text-align: left;
    margin-bottom: 100px;
    // margin: 0 auto 60px auto;
    font-size: 1.1rem;
    width: 50%;
}
